*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;

}

html,body{
      height: 100%;
      width: 100%;

}
#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(144, 213, 190);
    border-radius: 10px;
}
#ptop{
    justify-content: space-between;
    padding: 0px 30%;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    color: #fff;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: rgb(19, 119, 16);
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;

}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #111;

}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 40px;
    height: 40px;
    background-color: rgb(19, 82, 50);
    color: #fff;
    border-radius: 50%;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(5, 62, 18);
}


    
